:root {
  --pink: #e5344c;
  --red: #ED3B43;
  --gray: #494949;
  --white: #ffffff;
  --lightgray: #f9f9f9;
  --h-color:#5e5d5d8a
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  height: 4000px;
}
.nav-container {
  margin-bottom: 90px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 575.98px) {
  .navbar {
    background-color: var(--gray);
  }
}
.logo  img{
  width: 80px;
  position: absolute;
  top: 1px;
}
.navbar-nav .nav-link {
  color: var(--white);
}
.navbar-nav .nav-link.active {
  color: var(--pink);
}
.nav-link:hover {
  color: var(--pink);
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 1000ms;
}
.header {
  background-color: var(--white);
}
.header h1 {
  font-weight: 800;
}
.header h1 > span {
  color: var(--red);
}
.main-button {
  background-color: var(--red);
  border-radius: 50px;
  padding: 10px;
  padding-inline: 20px;
  border: 0;
  color: var(--white);
  margin-block: 10px;
  margin-right: 20px;
}
.joinUs-container a:hover {
  background-color: var(--red);
  border-radius: 50px;
  padding: 10px;
  padding-inline: 20px;
  border: 0;
  color: var(--white);
  margin-block: 10px;
  transition: all 0.2s linear;
}
.main-button:hover,
.secondary-button:hover {
  box-shadow: 0 0 20px var(--red);
  transition: box-shadow 0.2s linear;
}
.secondary-button {
  color: var(--red);
  border-radius: 50px;
  padding: 10px;
  padding-inline: 20px;
  border: 1px solid var(--red);
  background-color: var(--white);
  margin-block: 10px;
}
.service-img {
  width: 100%;
  height: 100%;
  margin-block: 8px;
}
.service-img img {
  width: 30%;
}
.static-img {
  width: 100%;
}
.card {
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body .card-title {
  color: var(--pink);
  font-weight: 400;
  margin-bottom: 20px;
}
.Statistics .card-header {
  color: var(--pink);
  font-weight: bold;
  background: none;
  border: none;
}
.Statistics .card-header h3 {
  font-weight: 800;
}
.counter {
  text-align: center;
}
.Statistics .card-body .card-title {
  color: var(--red);
}
.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #393839;
}
.card__overlay h3 {
  color: var(--white);
  margin-block: 30%;
}
.under-number {
  background: var(--pink);
  height: 2px;
  width: 71px;
  margin-left: 35%;
  margin-bottom: 10px;
}
.card:hover .card__overlay {
  opacity: 0.5;
}
.services {
  margin-bottom: 100px;
}
.joinUs-container,
.finance-container,
.marketing-container,
.statistics-container,
.feedback-container,
.services-container,
.contact-us-container,
.header-container,
.secondary-service {
  width: 90%;
  margin-inline-start: 5%;
}
.feedback-container {
  width: 70%;
  margin-inline-start: 15%;
}
.secondary-service {
  width: 70%;
  margin-inline-start: 15%;
  margin-block-start: 70px;
}
.secondary-service .card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.secondary-service .card .card-title {
  font-weight: 800;
}
.secondary-service .card i {
  font-size: 24px;
  color: var(--pink);
}
.marketing,
.joinUs,
.contact-us-container,
.finance-container,
.statistics {
  margin-block: 100px;
}
.statistics-container {
  margin-top: -100px;
}
.market-img img,
.joinUs-img img,
.contact-img img {
  width: 100%;
}
.finance-img img {
  width: 70%;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.feed-back {
  background-color: var(--lightgray);
}
.feedback-container {
  padding: 50px;
}
.feedback-container h2,
.finance-container h2,
.joinUs-container h2,
.marketing-container h2,
.contact-us-container h2 {
  color: var(--h-color);
  font-weight: 800;
  margin-bottom: 20px;
}
.marketing {
  margin-bottom: 0px;
}
.finance-container h2 {
  margin-top: 45px;
}
.joinUs-container h3 {
  color: var(--h-color);
  font-weight: 800;
  margin-bottom: 20px;
}
.joinUs-container a {
  color: var(--red);
  text-decoration: none;
}

.feedback-container .clients-img {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.feedback-container .clients-img img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 4px solid var(--red);
}
.feedback-container .item h4 {
  color: var(--pink);
  font-weight: 800;
}
.feedback-container .item p {
  color: var(--red);
  margin-bottom: 0px;
}
.feedback-container .item svg {
  margin: 2px;
  color: var(--lightgray);
  width: 18px;
  height: 18px;
}
.owl-theme .owl-nav button.owl-next {
  background-color: var(--red);
  font-size: 20px;
  position: absolute;
  top: 80px;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.owl-theme .owl-nav button.owl-prev {
  background-color: var(--red);
  font-size: 20px;
  position: absolute;
  top: 80px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
.owl-nav i {
  color: var(--white);
}
.owl-theme .owl-dots .owl-dot.active span {
  background: var(--red);
  transform: scale(1.5);
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: var(--pink);
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .feedback-container .clients-img {
    width: 30%;
    margin: 10px;
    margin-bottom: 20px;
  }
  .owl-theme .owl-nav button.owl-next,
  .owl-theme .owl-nav button.owl-prev {
    display: none;
  }
}
.footer .copy {
  background-color: var(--red);
  text-align: center;
}
.footer .copy p {
  color: var(--white);
  padding-block: 10px;
  margin-bottom: 0;
}
.footer .footer-container {
  background-color: rgba(0, 0, 0, 0.6);
}
.footer-container .link {
  padding-inline-start: 10%;
  color: var(--white);
}
.footer-container .link h6 {
  font-weight: 800;
  color: var(--red);
  margin-bottom: 20px;
}
.footer-container .link p {
  color: var(--white);
  font-size: 12px;
}
.footer-container .link svg {
  margin-right: 10px;
}
.footer-container .link img {
  width: 200px;
}
.footer-container a {
  color: var(--white);
  text-decoration: none;
}
.footer-container a:hover {
  text-decoration: underline;
}
.btn-fixed {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10000;
}
.btn-fixed button {
  background: var(--red);
  border: none;
  border-radius: 50px;
  padding: 5px;
  padding-inline: 10px;
  animation-name: shadow-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes shadow-animation {
  50% {
    box-shadow: 0 0 8px 8px rgba(237,0  59 ,67, 0.9);
  }
}
.btn-fixed a {
  text-decoration: none;
  color: var(--white);
}
.btn-fixed i {
  font-size: 20px;
}
.carousel .owl-carousel {
  margin-block: 70px;
}
.carousel .owl-carousel .owl-item img {
  width: 50%;
  margin-left: 35px;
}
.money-banner img {
  width: 100%;
}
.hidden {
  display: none;
}
.progress-bar {
  background: var(--pink);
  position: fixed;
  z-index: 1000;
  top: 56px;
  height: 4px;
  left: 0;
}
